<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e709834f97.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark text-white">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="h2">
            <%= link_to "Bookers", root_path %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarDropdown" aria-controls="NavbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="NavbarDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user.id) do %>
                  <span class="fa-solid fa-house">Home</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path do %>
                  <span class="fa-solid fa-users">Users</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path do %>
                  <span class="fa-solid fa-book-open">Books</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="fa-solid fa-right-from-bracket">Log out</span>
                <% end %>
              </li>
            <% else %>
            <li class="nav-item">
                <%= link_to root_path do %>
                  <span class="fa-solid fa-house">Home</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path do %>
                  <span class="fa-solid fa-link">About</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path do %>
                  <span class="fa-solid fa-user-plus">Sign up</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path do %>
                  <span class="fa-solid fa-right-to-bracket">Log in</span>
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <p id=notice></p>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
